.message {
	border: 1px solid #999;
	border-radius:5px;
	padding: 2px;
	margin: 5px;
	font-size: 16px;
}

.message .author {
	font-weight: bold;
}

.message .date {
	color: #666;
	font-size: 12px;
	padding-left: 10px;
}

.message .txt {
	padding: 5px 5px 5px 10px;
}

.message .icon {
	width: 55px;
	height: 55px;
	background-size: 100%;
	display: none;
}

.message.comment .icon {
	display: block;
	background-image: url(img/comment.png);
}
